* text=auto eol=lf

# Package data
src/readsight/data/patterns/*.tex linguist-generated=true
src/readsight/data/languages/*.json linguist-generated=true

# Tests
/tests/ export-ignore

# Dev
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
